*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: Vinila;
  font-size: 1.3rem;
}

span {
  color: white;
  background: black;
  display: inline-block;
  padding: .05em .25em 0;
  font-size: 2rem;
}
@font-face {
  font-family: Vinila;
  src: url("https://jsbin-user-assets.s3.amazonaws.com/simevidas/vinila.woff2") format("woff2");
  font-style: oblique 0deg 20deg; /* 20deg is required for Safari */
  font-weight: 1 1000;
}
.sidebar ul{
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -240px;
  width: 240px;
  background: #1e1e1e;
  height: 100vh;
  overflow-y: auto;
  transition: all .3s;
}
.sidebar ul li{
  height: 65px;
  outline: none;
}
.sidebar ul li a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 70px;
  font-size: 20px;
  color: white;
  padding-left: 10%;
  background: #1e1e1e;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid black;
  border-left: 5px solid transparent;
}
.sidebar li a.contact{
  border-bottom: 1px solid rgba(0,0,0,.5);
}
.active a{
  color: #B93632;
  border-left: 5px solid #B93632;
  background: #1B1B1B;
}
section{
  margin-left: 0px;
  transition: all .3s;
}
i{
  position: fixed;
  margin: 20px 25px;
  font-size: 40px;
  color: orangered;
  cursor: pointer;
}
.sec1{
  margin-left: -20px;
  background: url(home.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.sec2{
  margin-left: -20px;
  background: url(about.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.sec3{
  margin-left: -20px;
  background: url(whatilearn.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.sec4{
  margin-left: -20px;
  background: url(gallery.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.sec5{
  margin-left: -20px;
  background: url(services.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.sec6{
  margin-left: -20px;
  background: url(feedback.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.sec7{
  margin-left: -20px;
  background: url(contact.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
h2{
  font-size: 40px;
  padding: 15px 20px;
}
h3{
  font-size: 40px;
  padding: 15px 20px;
}
p{
  padding: 0 20px 10px 20px;
  text-align: justify;
}


.date {
  text-transform: uppercase;
  color: #3498db;
  letter-spacing: 0.2rem;
}
.quote {
  border-left: 5px solid #bdc3c7;
  padding-left: 15px;
}

.post {
  margin-bottom: 20px;
}
.sidebar .ul_show{
  margin-left: 0px;
}
.slide_image{
  margin-left: 260px;
}
.inside_list ul {
  margin-left: 50px;
  margin-right: 200px;
  width: 240px;
  /*background: #1e1e1e;*/
  /*height: 100vh;*/
/*  overflow-y: auto;
  transition: all .3s;*/
}
.inside_list ul li::before {
  content: "✅";
  display: inline-block;
  margin-right: 0.2rem;
}
.inside_list ul ul li::before {
  content: "📌";
}
.inside_list ul ul ul li::before {
  content: "🤷‍♀️";
}


.fvs {
  font-variation-settings: "slnt" 10;
}

